RewriteEngine On

# Evitar que se vea el error 404 de InfinityFree y usar el tuyo si tienes
ErrorDocument 404 /index.html

# Forzar que el servidor busque archivos .html si se olvida la extensión
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

DirectoryIndex index.php index.html index.htm
